    {
        "topoObjectType": "maintenance",
        "topologyIndex": 1,
        "user": "admin",
        "name": "Appformix-link-health-alert{{ current_time }}",
        "startTime": "{{ start_time }}",
        "endTime": "{{ end_time }}",
        "elements": [
            {
                "topoObjectType": "link",
                "index": {{ index_number }}
            }
        ]
    }
