    {
        "topoObjectType": "maintenance",
        "topologyIndex": 1,
        "user": "admin",
        "name": "Appformix-node-health-alert",
        "startTime": "2018-03-07T21:02:00Z",
        "endTime": "2020-03-09T21:02:00Z",
        "elements": [
            {
                "topoObjectType": "node",
                "index": {{ index_number }},
                "id": "{{ name }}"
            }
        ]
    }
